<%- include('header'); -%>



    <div class="box" id="heading">
        <h1>
            <%=kindOfDay%>
        </h1>
    </div>
    <div class="box">

        <% for (let i=0; i < newListItems.length; i++) {%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>
            <form class="item" action="/" method="post">
                <label for="newItem">Add</label>
                <input type="text" id="newItem" name="newItem" placeholder="New Item">
                <button type="submit" name="button" value=<%=kindOfDay%>>+</button>
            </form>





    </div>


<%- include('footer'); -%>
